<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auth Page</title>
    <link rel="stylesheet" href="/styles/indexSt.css">
    <style>
        body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.auth-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn {
    text-decoration: none;
    color: white;
    background-color: #007bff;
    padding: 10px 15px;
    border-radius: 5px;
    margin: 10px;
    width: 100px;
    text-align: center;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #0056b3;
}
footer {
            margin-top: auto;
            width: 100%;
            text-align: center;
            padding: 10px;
            background-color: #f0f2f5;
            color: #333;
            position: absolute;
            bottom: 0;
        }
    </style>
</head>
<body>
    <div class="auth-buttons">
        <a href="/login" class="btn">Login</a>
        <a href="/register" class="btn">Register</a>
    </div>
    <footer>
        Skakova Nargiz SE-2204
    </footer>
</body>
</html>
