<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title> 
    <style>
        body {
            font-family: Arial, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            flex-direction: column;
        }

        form {
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <div class="auth-buttons">
        <a href="/register">Register</a>
        <a href="/login">Login</a>
    </div>
    <h1>Check the Weather</h1>
    <form action="/" method="post">
        <input type="text" name="cityName" placeholder="Enter a city" required>
        <button type="submit">Get Weather</button>
    </form>

    <% if (weather) { %> 
        <div>
            <p>Temperature: <%= weather.temperature %></p>
            <p>Condition: <%= weather.condition %></p>

        </div>
    <% } %>

    
    
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>

</body>
</html>
